src/main/mule/dataweave-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="6bb74d0f-baa5-4998-8b4d-9a523b5ef9d0" >
		<salesforce:cached-basic-connection username="durisalasaikrishna@gmail.com" password="Nani@3375" securityToken="q5kH7GLhSKlpYi60TgTkSSfy" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="105c2e6f-404c-406e-8d4e-d73539fbc0ca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataweave-poc-do" doc:id="999d7ee4-981f-473f-b1f0-216476465135" >
		<http:listener doc:name="Listener" doc:id="3386e5bc-f673-40bb-84ce-af9789bebb5c" config-ref="HTTP_Listener_config" path="/api/test"/>
		<ee:transform doc:name="Transform Message" doc:id="3fd21b77-ceaa-48f7-bb2e-59b2f0d0aec3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var data = [
  {
    "ChildAccounts": [
      {
        "Id": "000183837",
        "type": "Account",
        "Name": "Secondary Account 1"
      },
      {
        "Id": "002683838",
        "type": "Account",
        "Name": "Secondary Account 2"
      }
    ],
    "Id": "27383839",
    "type": "Account",
    "Name": "Primary Account"
  }
]
fun ChildAccounts(item) = item map (acc,index) -> {
	"id": acc.Id,
	"name": acc.Name
}

fun PrimaryAccounts(item) = item map (acc,index) -> {
	"id":acc.Id,
	"name": acc.Name
}

output application/json
---
{
	data:{
		"type": "Accounts",
		"attributes":{
			"items": ChildAccounts(data[0].ChildAccounts) ++ PrimaryAccounts(data)
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="63f8b163-eb6d-494b-aae5-07fbd3e60cc5" message="#[payload]"/>
	</flow>
</mule>
